{
  "wifiEnabled": true,
  "wifiSsid": null,
  "wifiPassword": null,
  "captivePortalEnabled": true,
  "mqttClientId": "",
  "mqttUsername": "",
  "mqttPassword": "",
  "mqttPublishIntervalS": 60,
  "mqttTsChannel": "",
  "mqttClass": "ThingspeakMQTTClient"
}
